In [1]:
import pandas as pd
import numpy as np
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')
import pymorphy2
morph = pymorphy2.MorphAnalyzer()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\kiril\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
def tag(string):
    a = morph.parse(string)[0].tag
    return (('NOUN' in a) or ('ADJF' in a) or ('INFN' in a))

In [3]:
classif_train = pd.read_csv('C:/Users/kiril/Desktop/cup_it/no_title.csv')

In [4]:
classif_train['type'].value_counts()

0    3494
3    1319
1    1048
4     922
5     830
6     714
2     538
7     208
8      78
Name: type, dtype: int64

In [5]:
#words_all = pd.Series(np.concatenate(classif_train['text'].apply(lambda s: s.strip().split()).values))
#words_all = words_all[~words_all.isin(stopwords.words('russian'))]
#words_all = words_all[words_all.str.isalpha()] # Только буквы
#words_all = words_all[(words_all.str.len() >= 3)] # Длина > 2
#words_all = words_all[words_all.apply(tag)]

In [6]:
words_0 = pd.Series(np.concatenate(classif_train[classif_train['type']==0]['text'].apply(lambda s: s.strip().split()).values))
words_1 = pd.Series(np.concatenate(classif_train[classif_train['type']==1]['text'].apply(lambda s: s.strip().split()).values))
words_2 = pd.Series(np.concatenate(classif_train[classif_train['type']==2]['text'].apply(lambda s: s.strip().split()).values))
words_3 = pd.Series(np.concatenate(classif_train[classif_train['type']==3]['text'].apply(lambda s: s.strip().split()).values))
words_4 = pd.Series(np.concatenate(classif_train[classif_train['type']==4]['text'].apply(lambda s: s.strip().split()).values))
words_5 = pd.Series(np.concatenate(classif_train[classif_train['type']==5]['text'].apply(lambda s: s.strip().split()).values))
words_6 = pd.Series(np.concatenate(classif_train[classif_train['type']==6]['text'].apply(lambda s: s.strip().split()).values))
words_7 = pd.Series(np.concatenate(classif_train[classif_train['type']==7]['text'].apply(lambda s: s.strip().split()).values))
words_8 = pd.Series(np.concatenate(classif_train[classif_train['type']==8]['text'].apply(lambda s: s.strip().split()).values))

In [7]:
words_0 = words_0[~words_0.isin(stopwords.words('russian'))]
words_1 = words_1[~words_1.isin(stopwords.words('russian'))]
words_2 = words_2[~words_2.isin(stopwords.words('russian'))]
words_3 = words_3[~words_3.isin(stopwords.words('russian'))]
words_4 = words_4[~words_4.isin(stopwords.words('russian'))]
words_5 = words_5[~words_5.isin(stopwords.words('russian'))]
words_6 = words_6[~words_6.isin(stopwords.words('russian'))]
words_7 = words_7[~words_7.isin(stopwords.words('russian'))]
words_8 = words_8[~words_8.isin(stopwords.words('russian'))]

In [8]:
words_0 = words_0[words_0.str.isalpha()] # Только буквы
words_1 = words_1[words_1.str.isalpha()] # Только буквы
words_2 = words_2[words_2.str.isalpha()] # Только буквы
words_3 = words_3[words_3.str.isalpha()] # Только буквы
words_4 = words_4[words_4.str.isalpha()] # Только буквы
words_5 = words_5[words_5.str.isalpha()] # Только буквы
words_6 = words_6[words_6.str.isalpha()] # Только буквы
words_7 = words_7[words_7.str.isalpha()] # Только буквы
words_8 = words_8[words_8.str.isalpha()] # Только буквы

In [9]:
words_0 = words_0[(words_0.str.len() >= 3)] # Длина > 2
words_1 = words_1[(words_1.str.len() >= 3)] # Длина > 2
words_2 = words_2[(words_2.str.len() >= 3)] # Длина > 2
words_3 = words_3[(words_3.str.len() >= 3)] # Длина > 2
words_4 = words_4[(words_4.str.len() >= 3)] # Длина > 2
words_5 = words_5[(words_5.str.len() >= 3)] # Длина > 2
words_6 = words_6[(words_6.str.len() >= 3)] # Длина > 2
words_7 = words_7[(words_7.str.len() >= 3)] # Длина > 2
words_8 = words_8[(words_8.str.len() >= 3)] # Длина > 2

In [10]:
words_0 = words_0[words_0.apply(tag)]
words_1 = words_1[words_1.apply(tag)]
words_2 = words_2[words_2.apply(tag)]
words_3 = words_3[words_3.apply(tag)]
words_4 = words_4[words_4.apply(tag)]
words_5 = words_5[words_5.apply(tag)]
words_6 = words_6[words_6.apply(tag)]
words_7 = words_7[words_7.apply(tag)]
words_8 = words_8[words_8.apply(tag)]

In [11]:
df = pd.DataFrame(columns = ['words_0','words_1','words_2','words_3','words_4','words_5','words_6','words_7','words_8'])

In [12]:
df['words_0'] = words_0
df['words_1'] = words_1
df['words_2'] = words_2
df['words_3'] = words_3
df['words_4'] = words_4
df['words_5'] = words_5
df['words_6'] = words_6
df['words_7'] = words_7
df['words_8'] = words_8

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 252777 entries, 0 to 475269
Data columns (total 9 columns):
words_0    252777 non-null object
words_1    39706 non-null object
words_2    21112 non-null object
words_3    36842 non-null object
words_4    32394 non-null object
words_5    33785 non-null object
words_6    28508 non-null object
words_7    7369 non-null object
words_8    2982 non-null object
dtypes: object(9)
memory usage: 10.6+ MB

In [21]:
count_0 = df['words_0'].value_counts()
count_1 = df['words_1'].value_counts()
count_2 = df['words_2'].value_counts()
count_3 = df['words_3'].value_counts()
count_4 = df['words_4'].value_counts()
count_5 = df['words_5'].value_counts()
count_6 = df['words_6'].value_counts()
count_7 = df['words_7'].value_counts()
count_8 = df['words_8'].value_counts()

In [22]:
count_1.values

array([884, 817, 688, ...,   1,   1,   1], dtype=int64)

In [42]:
words_all = pd.Series()

In [45]:
words_all = pd.concat([words_0,words_all],axis = 0)
words_all = pd.concat([words_1,words_all],axis = 0)
words_all = pd.concat([words_2,words_all],axis = 0)
words_all = pd.concat([words_3,words_all],axis = 0)
words_all = pd.concat([words_4,words_all],axis = 0)
words_all = pd.concat([words_5,words_all],axis = 0)
words_all = pd.concat([words_6,words_all],axis = 0)
words_all = pd.concat([words_7,words_all],axis = 0)
words_all = pd.concat([words_8,words_all],axis = 0)
words_all = set(words_all)

In [47]:
len(words_all)

20852

In [51]:
df_count = pd.DataFrame(columns = ['count_0','count_1','count_2','count_3','count_4','count_5','count_6','count_7', 'count_8'], index = words_all)

In [53]:
df_count.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20852 entries, лицый to количество
Data columns (total 9 columns):
count_0    0 non-null object
count_1    0 non-null object
count_2    0 non-null object
count_3    0 non-null object
count_4    0 non-null object
count_5    0 non-null object
count_6    0 non-null object
count_7    0 non-null object
count_8    0 non-null object
dtypes: object(9)
memory usage: 814.5+ KB

In [54]:
df_count['count_0'] = count_0
df_count['count_1'] = count_1
df_count['count_2'] = count_2
df_count['count_3'] = count_3
df_count['count_4'] = count_4
df_count['count_5'] = count_5
df_count['count_6'] = count_6
df_count['count_7'] = count_7
df_count['count_8'] = count_8

In [56]:
df_count = df_count.sort_values(by=["count_0"],ascending = False)

In [59]:
df_count.head()

,count_0,count_1,count_2,count_3,count_4,count_5,count_6,count_7,count_8
банка,6143.0,817.0,542.0,981.0,773.0,788.0,664.0,147.0,61.0
кредит,5262.0,350.0,372.0,77.0,133.0,85.0,54.0,10.0,3.0
весь,4777.0,884.0,451.0,748.0,722.0,715.0,544.0,128.0,69.0
банк,4428.0,526.0,307.0,613.0,723.0,590.0,439.0,108.0,29.0
карта,3798.0,81.0,101.0,255.0,176.0,401.0,1121.0,56.0,18.0

In [60]:
#df_count.to_csv(r'C:/Users/kiril/Desktop/cup_it/new_df.csv',index=True)

In [61]:
df_count = df_count.sort_values(by=["count_0"],ascending = False)
kredit = df_count[0:100].index
df_count = df_count.sort_values(by=["count_1"],ascending = False)
ipoteka = df_count[0:100].index
df_count = df_count.sort_values(by=["count_2"],ascending = False)
restruct = df_count[0:100].index
df_count = df_count.sort_values(by=["count_3"],ascending = False)
vklad = df_count[0:100].index
df_count = df_count.sort_values(by=["count_4"],ascending = False)
bisnez = df_count[0:100].index
df_count = df_count.sort_values(by=["count_5"],ascending = False)
obslu = df_count[0:100].index
df_count = df_count.sort_values(by=["count_6"],ascending = False)
karta = df_count[0:100].index
df_count = df_count.sort_values(by=["count_7"],ascending = False)
perevod = df_count[0:100].index
df_count = df_count.sort_values(by=["count_8"],ascending = False)
invest = df_count[0:100].index

In [99]:
kredit = set(kredit)
ipoteka = set(ipoteka)
restruct = set(restruct)
vklad = set(vklad)
bisnez = set(bisnez)
obslu = set(obslu)
karta = set(karta)
perevod = set(perevod)
invest = set(invest)
main_words = set()

In [103]:
main_words = main_words.union(kredit,ipoteka,restruct,vklad,bisnez,obslu,karta,perevod,invest);

In [104]:
len(main_words)

237

In [108]:
same_words = kredit.intersection(kredit,ipoteka,restruct,vklad,bisnez,obslu,karta,perevod,invest)

In [110]:
len(same_words)

35

In [114]:
main_words = main_words.difference(same_words)

In [115]:
main_words = pd.Series(list(main_words))

In [116]:
final_words = pd.DataFrame(columns = ['words'])

In [117]:
final_words['words'] = main_words

In [118]:
final_words.head()

       words
0    высокий
1  страховка
2      стать
3   остаться
4      отказ

In [119]:
final_words.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 1 columns):
words    202 non-null object
dtypes: object(1)
memory usage: 848.0+ bytes

In [120]:
final_words.to_csv(r'C:/Users/kiril/Desktop/cup_it/final_words_1.csv',index=False)