In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('C:/Users/kiril/Desktop/cup_it/classif_train.csv')

In [2]:
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\kiril\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [3]:
df[df['type']=="Кредит"].info()#3494/9151

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3494 entries, 0 to 9150
Data columns (total 4 columns):
id       3494 non-null int64
type     3494 non-null object
title    3494 non-null object
text     3494 non-null object
dtypes: int64(1), object(3)
memory usage: 95.5+ KB

In [4]:
df.head()

,id,type,title,text
0,0,Кредит,просьба об отмене штрафа каско,10 06 2016г мною был заключен договор №с04...
1,1,Ипотека,в целом хорошо работали по ипотеке,брала ипотеку в юникоре порадовали квалифика...
2,2,Реструктуризация,нас всегда выручает банк уралсиб,знакомство с банком началось с ипотеки в 2009 ...
3,3,Вклад,абсолютно неприемлемая ситуация и ее решение,клиент совкомбанка с 2017 года в феврале 2018...
4,4,Кредит,внёс не туда,пришёл оплачивать кредит и ошибочно внёс деньг...

In [5]:
#df.drop('Unnamed: 0',axis=1,inplace = True)

In [6]:
df["type"].value_counts()

Кредит                         3494
Вклад                          1319
Ипотека                        1048
Бизнес услуги                   922
Обслуживание физ. и юр. лиц     830
Дебетовая карта                 714
Реструктуризация                538
Денежные переводы               208
Инвестиционные продукты          78
Name: type, dtype: int64

# Кредит

In [7]:
df1 = pd.DataFrame(columns = ['words'])

In [8]:
text_words = pd.Series(np.concatenate(df[df["type"] == "Инвестиционные продукты"]['text'].apply(lambda s: s.strip().split()).values))

In [9]:
title_words = pd.Series(np.concatenate(df[df["type"] == "Инвестиционные продукты"]['title'].apply(lambda s: s.strip().split()).values))

In [10]:
words = pd.concat([title_words,text_words],axis = 0)

In [11]:
words = words[~words.isin(stopwords.words('russian'))]

In [12]:
words

0                спасибо
2           обслуживание
3             позитивные
5           компетентные
6             сотрудники
7          благодарность
8          положительный
9                  отзыв
10              неплохие
11                ставки
13               вкладам
15                такого
22                  беда
24              приходит
25                  одна
26               спасибо
27              отличный
28                сервис
29         благодарность
30            сотруднику
31              сивидову
32                антону
33             грамотные
34           специалисты
36               быстрое
37          обслуживание
38         грабительская
39              комиссия
40              открытие
41                   иис
              ...
9683            вопросов
9684        технического
9685           характера
9686          откровенно
9687               скажу
9690             получал
9692         сотрудников
9693               банка
9696              онлайн
9697                чате
9698          приложения
9701                  эл
9702               почте
9705            телефону
9706            отличные
9708       своевременные
9709        консультации
9711                 чём
9713              лишней
9714        запутывающей
9715                воды
9718                само
9719          приложение
9722                 год
9723             отлично
9724    эволюционировало
9726             держать
9727              ребята
9728              ставлю
9730              пятюню
Length: 6721, dtype: object

In [13]:
len(words)

6721

In [14]:
df1['words'] = words

In [15]:
a = df1['words'].value_counts().values

In [16]:
b = df1['words'].value_counts().index

In [17]:
df2 = pd.DataFrame(columns = ['words','count'])

In [18]:
df2['words'] = b
df2['count'] = a
df2.head()

   words  count
0  банка     70
1      -     65
2  очень     54
3    это     43
4   банк     41

In [19]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3496 entries, 0 to 3495
Data columns (total 2 columns):
words    3496 non-null object
count    3496 non-null int64
dtypes: int64(1), object(1)
memory usage: 41.0+ KB

In [20]:
df2 = df2[df2["words"].str.isalpha()] # Только буквы

In [21]:
df2 = df2[(df2["words"].str.len() >= 3)] # Длина > 2

In [22]:
test_df = df2

In [23]:
import pymorphy2
morph = pymorphy2.MorphAnalyzer()

In [24]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3236 entries, 0 to 3495
Data columns (total 2 columns):
words    3236 non-null object
count    3236 non-null int64
dtypes: int64(1), object(1)
memory usage: 63.2+ KB

In [25]:
def normal_form(string):
    return morph.parse(string)[0].normal_form

In [26]:
test_df['words'] = test_df['words'].apply(normal_form)

In [27]:
c = test_df["words"].value_counts().index

In [28]:
control_df = pd.DataFrame(columns = ['words','count'])

In [29]:
j = 0
for i in c:
    control_df.loc[j] = [i,test_df[test_df["words"] == i]['count'].sum()]
    j += 1

In [30]:
test_df["count"].sum()

6232

In [31]:
test_df[test_df["words"] == 'высокий']['count'].sum()

5

In [32]:
control_df["count"].sum()

6232

In [33]:
control_df = control_df.sort_values(by=["count"],ascending = False)

In [34]:
control_df = control_df[~control_df['words'].isin(stopwords.words('russian'))]

In [35]:
control_df[control_df['count'] > 100].head()

    words count
28  банка   106

In [36]:
def tag(string):
    return morph.parse(string)[0].tag

In [37]:
control_df['tag'] = control_df['words'].apply(tag)

In [38]:
control_df.head()

          words count                       tag
28        банка   106  NOUN,inan,femn sing,nomn
11    сотрудник    72  NOUN,anim,masc sing,nomn
202         это    55                      PRCL
1024      очень    54                      ADVB
26         счёт    52  NOUN,inan,masc sing,accs

In [39]:
def noun(string):
    return ('NOUN' in string) or ('ADJF' in string) or ('INFN' in string)

In [40]:
control_df['word_need'] = control_df['tag'].apply(noun)

In [41]:
control_df = control_df[control_df['word_need'] ==True]

In [52]:
invest_word = control_df['words','count']

In [54]:
invest_word.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45 entries, 28 to 70
Data columns (total 2 columns):
words    45 non-null object
count    45 non-null object
dtypes: object(2)
memory usage: 720.0+ bytes

In [55]:
invest_word.to_csv(r'C:/Users/kiril/Desktop/cup_it/invest_words.csv',index=False)