In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [27]:
df = pd.read_csv('classif_train.csv')
df.head()

,id,type,title,text
0,0,0,просьба о отмена штраф каско,10 06 2016г я быть заключить договор №с041...
1,1,1,в целое хорошо работать по ипотека,брать ипотека в юникора порадовать квалифика...
2,2,2,мы всегда выручать банк уралсиб,знакомство с банк начаться с ипотека в 2009 го...
3,3,3,абсолютно неприемлемый ситуация и она решение,клиент совкомбанк с 2017 год в февраль 2018 г...
4,4,0,внести не туда,прийти оплачивать кредит и ошибочно внести ден...

In [28]:
words = np.array(pd.read_csv('main_words.csv'))

In [29]:
df['text'] = df.apply(lambda x: x['title'] + ' ' + x['text'], axis=1)

In [31]:
for i in words:
    df[i[0]] = df['text'].apply(lambda x: int(i[0] in x))

In [32]:
df = df.drop('title', 1)
df = df.drop('text', 1)
df = df.drop('id', 1)

In [33]:
df.head()

,type,сказать,деньга,открыть,год,тинькофф,банка,кредит,договор,банкомат,...,отделение,инвестиция,приложение,обслуживание,кредитный,работа,специалист,наш,квартира,день
0,0,0,0,0,1,0,1,1,1,0,...,0,0,0,0,1,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,2,0,1,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,1
3,3,1,0,1,1,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,1,0,1,0,0,1

In [34]:
X = df.drop('type', axis=1)
y = df['type']

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=17)

In [36]:
logistic = LogisticRegression()

In [37]:
logistic.fit(X_train, y_train)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [38]:
accuracy_score(y_test, logistic.predict(X_test))

0.6686088856518573

In [40]:
df = pd.read_csv('classif_train.csv')
df['text'] = df.apply(lambda x: x['title'] + ' ' + x['text'], axis=1)
df = df.drop('title', 1)
df.to_csv('no_title.csv', index=False)